<header class="site-header" role="banner">
  <header class="site-header-inner">

    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <input type="checkbox" id="nav-button" class="nav-button" />
    <label for="nav-button" class="nav-button-label">
      <span class="nav-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="4" y="5" width="16" height="2" rx="1" fill="currentColor"/>
          <rect x="4" y="11" width="16" height="2" rx="1" fill="currentColor"/>
          <rect x="4" y="17" width="16" height="2" rx="1" fill="currentColor"/>
        </svg>
      </span>
    </label>

    <nav class="nav-items-container">
      <nav class="nav-items">
        <a class="page-link" href="/index">Home</a>
        <a class="page-link" href="/about">About</a>
        <a class="page-link" href="/writing">Writing</a>
      </nav>
    </nav>
  </header>
</header>
