/**
 * Site header
 */
.site-header {
  padding: $spacing-unit * 4;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited,
  &:hover {
    color: $text-color-bright;
    text-decoration: none;
  }
}

.site-nav {
  float: right;
  //line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $text-color;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit * 4;
}

.social-media-icon {
  display: inline-block;
  margin: $spacing-unit * 2;
}

.social-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  fill: #{$text-color};
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $text-color-dim;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

/**
 * headshot
 */
.headshot {

}

/**
 * Portfolio
 */
 .portfolio {
   padding: 32px;
 }

 .portfolio-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 64px;
 }

 .portfolio-item-image {
   margin-bottom: 32px;
   border-radius: 16px;
 }

 .portfolio-item-title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: $spacing-unit;
 }

.portfolio-item-role {
  font-size: 24px;
  line-height: 32px;
  color: $text-color-dim;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
