/**
 * Site header
 */
.site-header {
  position: relative;
}

.site-title {
  float: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 8px;
  padding: 8px;
  margin: 16px 32px;

  @include media-query($on-palm) {
    margin: 8px;
  }

  &,
  &:visited,
  &:hover {
    color: $text-color-bright;
    text-decoration: none;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.nav-button {
  width: 24px;
  height: 24px;
  display: none;
  float: right;
  display: none;
}

.nav-button-label {
  display: none;
}

.menu-icon {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 24px;

  > svg {
    width: 24px;
    height: 24px;
    fill: $text-color;
  }
}

.nav-items {
  display: block;
  float: right;
  padding: 8px;
  margin: 16px 32px;

  .page-link {
    color: $text-color;
    padding: 8px;
    border-radius: 8px;

    &,
    &:visited,
    &:hover
    {
      color: $text-color-bright;
      text-decoration: none;
    }

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 8px;

      @include media-query($on-palm) {
        margin: 0;
      }
    }

  }

  .page-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@include media-query($on-palm) {
  .nav-button-label {
    display: block;
    float: right;
    padding: 8px;
    margin: 8px;
    width: 24px;
    height: 24px;
    z-index: 2;
    cursor: pointer;
  }

  .nav-button ~ .nav-items {
    display: none;
  }

  .nav-button:checked ~ .nav-items {
    box-sizing: border-box;
    float: none;
    width: 95vw;
    clear: both;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 8px;
    background: #242424;
    box-shadow: $shadow-default;
    border-radius: 16px;
    margin: 2.5vw;
  }
}


/**
 * Site footer
 */
.site-footer {
  color: $text-color-dim;
  margin-top: 64px;
  padding: $spacing-unit * 4;

  .copyright{
    margin-top: 16px;
    font-size: 16px;
    text-align: center;
  }
}

.social-icons {
  display: grid;
  grid-auto-columns: 24px;
  grid-auto-flow: column;
  gap: 16px;
  justify-content: center;

  svg {
    width: 24px;
    height: 24px;
    fill: $text-color-dim;
  }
}



/**
 * Page content
 */
.page-content {
  flex: 1;
}

.page-heading {
}


/**
 * Post List
 */
.post-list-heading {

}

.post-list {
  margin-left: 0;
  list-style: none;

  li {
    display: block;
    margin-bottom: $spacing-unit;
    padding: 8px;
    border-radius: 8px;

    a {
      text-decoration: none;
    }
  }

  li:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .post-list-post-title {
    display: block;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
  }

  .post-list-post-meta {
    font-weight: 300;
    font-size: $small-font-size;
    color: $text-color-dim;
    margin: 0;
  }
}

/**
 * hero
 */
.hero {
  height: 100vh;
  background-image: url("/assets/images/headshot.jpg");
  background-position: 70% 60%;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;

  @include media-query($on-palm) {
    height: 50vh;
  }
}

.hero-text-container {
  flex: 1;
  display: flex;
  align-items: center;

  @include media-query($on-palm) {
    align-items: flex-end;
  }
}

.hero-text {
  padding-left: 32px;
  padding-right: 32px;
  font-size: 64px;
  line-height: 72px;
  width: 50%;

  @include media-query($on-palm) {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 24px;
    line-height: 32px;
    width: 50%;
  }
}

/**
 * Worked With
 */
.work-with {
  background-color: #242424;
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-bottom: 1px solid black;
  text-align: center;
  @include media-query($on-palm) {
    padding: 32px 32px;
  }
}

.work-with-logo-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.work-with-logo {
  padding: 32px 32px;
  max-height: 72px;
  @include media-query($on-palm) {
    padding: 16px 16px;
    max-height: 32px;
  }
}

.work-with-logo-bowers-wilkins {
  max-height: 24px;
  @include media-query($on-palm) {
    max-height: 16px;
  }
}


/**
 * Recent Posts
 */
.recent-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;

  h1 {
    margin: 64px 0;
  }
}


/**
 * Posts
 */
.post-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;

  @include media-query($on-palm) {
      margin-bottom: 32px;
  }
}

.post-title {
  margin-bottom: $spacing-unit;
}

.portfolio-date-launched {
  color: $text-color-dim;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
}

.post {
  overflow-wrap: break-word;
  word-wrap: break-word;

  margin: 32px;

  @include media-query($on-palm) {
      margin: 24px;
  }
}

.post-content {

  :not(img, .post-image, .portfolio-ipad-app-image-grid) {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .post-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 64px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    @include media-query($on-palm) {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }

  blockquote {
    max-width: 600px;
    color: $text-color-dim;
  }

  img {
    box-shadow: $shadow-default;

    &.no-shadow {
      box-shadow: none;
    }
  }
}

.app-store-link {
  display: inline-block;
  width: 144px;

  img {
    width: 100%;
    box-shadow: none;
  }
}

/**
 * Portfolio
 */
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
  text-align: center;
  max-width: 1920px;
  margin: auto;

  @include media-query($on-palm) {
  padding: 48px 8px 0 8px;
  }

  h1 {
   margin: 0 0 64px 0;
  }
 }

.portfolio-item {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 32px;
 }

.portfolio-item-image {
   margin-bottom: 16px;
   border-radius: 16px;
   box-shadow: $shadow-default;
   overflow: hidden;
   z-index: 1;

   @include media-query($on-palm) {
     border-radius: 8px;
   }
 }

.portfolio-item-image img {
  transition: transform 0.5s ease;
}

  .portfolio-item-image:hover img {
    transform: scale(1.03);
  }

.portfolio-item-title {
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  color: $text-color-bright;
  margin-bottom: 8px;

  a {
    text-decoration: none;
    color: $text-color-bright;
  }

  @include media-query($on-palm) {
    font-size: 24px;
    line-height: 24px;
  }
}

.portfolio-item-role {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: $text-color-dim;
  margin: 0;
  @include media-query($on-palm) {
    font-size: 16px;
    line-height: 24px;
  }
}

.portfolio-item-launch-date {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: $text-color-dim;
  margin: 0;
  @include media-query($on-palm) {
    font-size: 16px;
    line-height: 24px;
  }
}

.portfolio-ipad-app-image-grid {
  margin-top: 64px;
  margin-bottom: 64px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 32px;

  @include media-query($on-palm) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

/**
 * About
 */

.about {
  margin: 32px;
}

.about-content{

  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    margin-top: 64px;
    margin-bottom: 64px;
    text-align: center;
  }

  h2 {
    margin-top: 64px;
    margin-bottom: 0px;
  }

  h3 {
    line-height: 24px;
    margin-bottom: 24px;
    margin-top: 0px;
  }
}




/**
 * Post Specific styles
 */
