<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <div class="cover-container">
      <div class="cover-content">
        <div class="cover-text-container">
          <h1 class="cover-text">Hi, I’m Henry.</h1>
          <h2 class="cover-subtext">I lead Experience & Design at <a href="https://lawo.com">Lawo</a>.</h2>
        </div>
        <!-- <div class="cover-image"></div> -->
        <img class="cover-image" src="assets/images/headshot.png" />
      </div>
    </div>

    <main class="page-content" aria-label="Content">

      <div class="home">
        <!-- WORKED WITH -->
        <div class="work-with">
          <!-- <h2>I've made some great things with</h2> -->
          <div class="work-with-logo-container">
            <a class="work-with-logo" href="https://lawo.com"><img class="work-with-logo-lawo" src="/assets/images/work-with/logo-lawo.png" alt="Logo for Lawo"></a>
            <a class="work-with-logo" href="https://bowerswilkins.com">
              <img class="work-with-logo-bowers-wilkins-light" src="/assets/images/work-with/logo-bowers-wilkins-light.png" alt="Logo for Bowers & Wilkins">
              <img class="work-with-logo-bowers-wilkins-dark" src="/assets/images/work-with/logo-bowers-wilkins-dark.png" alt="Logo for Bowers & Wilkins">
            </a>
            <a class="work-with-logo" href="https://sky.com"><img class="work-with-logo-sky" src="/assets/images/work-with/logo-sky.png" alt="Logo for Sky"></a>
            <a class="work-with-logo" href="https://lipa.ac.uk">
              <img class="work-with-logo-lipa-light" src="/assets/images/work-with/logo-lipa-light.png" alt="Logo for The Liverpool Institute for Performing Arts">
              <img class="work-with-logo-lipa-dark" src="/assets/images/work-with/logo-lipa-dark.png" alt="Logo for The Liverpool Institute for Performing Arts">
            </a>
            <a class="work-with-logo" href="https://calrec.com">
              <img class="work-with-logo-calrec-light" src="/assets/images/work-with/logo-calrec-light.png" alt="Logo for Calrec">
              <img class="work-with-logo-calrec-dark" src="/assets/images/work-with/logo-calrec-dark.png" alt="Logo for Calrec">
            </a>
          </div>
        </div>

        <!-- PORTFOLIO -->
        <div class="portfolio">
          <!-- <h2>Here's some of my work</h2> -->

          <div class="portfolio-grid">
            <div class="portfolio-item portfolio-lawo-home-apps">
              <a class="portfolio-item-link" href="/lawo-home-apps">
                <img class="portfolio-item-image" src="assets/images/portfolio/lawo-home-apps/card.jpg" />
                <p class="portfolio-item-title">Lawo HOME Apps</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-lawo-edge">
              <a class="portfolio-item-link" href="/lawo-edge">
                <img class="portfolio-item-image" src="assets/images/portfolio/lawo-edge/card.png" />
                <p class="portfolio-item-title">Lawo .edge</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-lawo-home">
              <a class="portfolio-item-link" href="/lawo-home">
                <img class="portfolio-item-image" src="assets/images/portfolio/lawo-home/card.png" />
                <p class="portfolio-item-title">Lawo HOME</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-lawo-diamond">
              <a class="portfolio-item-link" href="/lawo-diamond">
                <img class="portfolio-item-image" src="assets/images/portfolio/lawo-diamond/card.png" />
                <p class="portfolio-item-title">Lawo diamond</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-lawo-mc2-ui-update">
              <a class="portfolio-item-link" href="/lawo-mc2-ui-update">
                <img class="portfolio-item-image" src="assets/images/portfolio/lawo-mc2-ui-update/card.png" />
                <p class="portfolio-item-title">Lawo mc² UI Update</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-bowers-wilkins-800d4">
              <a class="portfolio-item-link" href="/bowers-wilkins-800d4">
                <img class="portfolio-item-image" src="assets/images/portfolio/bowers-wilkins-800d4/card.png" />
                <p class="portfolio-item-title">Bowers & Wilkins 800 Series D4</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-bowers-wilkins-formation-flex">
              <a class="portfolio-item-link" href="/bowers-wilkins-formation-flex">
                <img class="portfolio-item-image" src="assets/images/portfolio/bowers-wilkins-formation-flex/card.png" />
                <p class="portfolio-item-title">Bowers & Wilkins Formation Flex</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-calrec-argo">
              <a class="portfolio-item-link" href="/calrec-argo">
                <img class="portfolio-item-image" src="assets/images/portfolio/calrec-argo/card.png" />
                <p class="portfolio-item-title">Calrec Argo</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-calrec-summa">
              <a class="portfolio-item-link" href="/calrec-summa">
                <img class="portfolio-item-image" src="assets/images/portfolio/calrec-summa/card.png" />
                <p class="portfolio-item-title">Calrec Summa</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-calrec-brio">
              <a class="portfolio-item-link" href="/calrec-brio">
                <img class="portfolio-item-image" src="assets/images/portfolio/calrec-brio/card.png" />
                <p class="portfolio-item-title">Calrec Brio</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-calrec-apollo">
              <a class="portfolio-item-link" href="/calrec-apollo">
                <img class="portfolio-item-image" src="assets/images/portfolio/calrec-apollo/card.png" />
                <p class="portfolio-item-title">Calrec Apollo</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-calrec-artemis">
              <a class="portfolio-item-link" href="/calrec-artemis">
                <img class="portfolio-item-image" src="assets/images/portfolio/calrec-artemis/card.png" />
                <p class="portfolio-item-title">Calrec Artemis</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-calrec-impulse-core">
              <a class="portfolio-item-link" href="/calrec-impulse-core">
                <img class="portfolio-item-image" src="assets/images/portfolio/calrec-impulse-core/card.png" />
                <p class="portfolio-item-title">Calrec ImPulse Core</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-calrec-summa-core">
              <a class="portfolio-item-link" href="/calrec-summa-core">
                <img class="portfolio-item-image" src="assets/images/portfolio/calrec-summa-core/card.png" />
                <p class="portfolio-item-title">Calrec Summa Core</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-calrec-assist">
              <a class="portfolio-item-link" href="/calrec-assist">
                <img class="portfolio-item-image" src="assets/images/portfolio/calrec-assist/card.png" />
                <p class="portfolio-item-title">Calrec Assist UI</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-calrec-soccer-assist">
              <a class="portfolio-item-link" href="/calrec-soccer-assist">
                <img class="portfolio-item-image" src="assets/images/portfolio/calrec-soccer-assist/card.png" />
                <p class="portfolio-item-title">Calrec Soccer Assist</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-calrec-fader-assist">
              <a class="portfolio-item-link" href="/calrec-fader-assist">
                <img class="portfolio-item-image" src="assets/images/portfolio/calrec-fader-assist/card.png" />
                <p class="portfolio-item-title">Calrec Fader Assist</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-whats-the-frequency">
              <a class="portfolio-item-link" href="/whats-the-frequency">
                <img class="portfolio-item-image" src="assets/images/portfolio/whats-the-frequency/card.png" />
                <p class="portfolio-item-title">What's the Frequency?</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-fludd">
              <a class="portfolio-item-link" href="/fludd">
                <img class="portfolio-item-image" src="assets/images/portfolio/fludd/card.png" />
                <p class="portfolio-item-title">Fludd</p>
              </a>
            </div>

            <div class="portfolio-item portfolio-equivalence">
              <a class="portfolio-item-link" href="/equivalence">
                <img class="portfolio-item-image" src="assets/images/portfolio/equivalence/card.png" />
                <p class="portfolio-item-title">Equivalence</p>
              </a>
            </div>

          </div>
        </div>

        {{ content }}

      </div>

    </main>

    {%- include footer.html -%}

  </body>

</html>
