<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="hero">
      {%- include header.html -%}
      <div class="hero-text-container">
        <h1 class="hero-text">Hi, I’m Henry.<br />I design products.</p>
      </div>
    </div>

    <main class="page-content" aria-label="Content">

      <div class="home">
        <!-- WORKED WITH -->
        <div class="work-with">
          <p>I'm proud to have made some great stuff with</p>
          <div class="work-with-logo-container">
            <img class="work-with-logo work-with-logo-lawo" src="/assets/images/work-with/logo-lawo.svg" alt="Logo for Lawo">
            <img class="work-with-logo work-with-logo-bowers-wilkins" src="/assets/images/work-with/logo-bowers-wilkins.svg" alt="Logo for Bowers & Wilkins">
            <img class="work-with-logo work-with-logo-sky" src="/assets/images/work-with/logo-sky.svg" alt="Logo for Sky">
            <img class="work-with-logo work-with-logo-calrec" src="/assets/images/work-with/logo-calrec.png" alt="Logo for Calrec">
            <img class="work-with-logo work-with-logo-lipa" src="/assets/images/work-with/logo-lipa.png" alt="Logo for The Liverpool Institute for Performing Arts">
          </div>
        </div>

        <!-- PORTFOLIO -->
        <div class="portfolio">
          <h1>My Work</h1>

          <!-- <div class="portfolio-item">
            <a class="portfolio-item-image" href="/mc2-ui-update"><img src="assets/images/portfolio/lawo-mc2-ui-update/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/mc2-ui-update">Lawo mc² UI Update</a></p>
            <p class="portfolio-item-role">Product Designer</p>
            <p class="portfolio-item-launch-date">2020</p>
          </div> -->

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/whats-the-frequency"><img src="assets/images/portfolio/whats-the-frequency/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/whats-the-frequency">What's the Frequency?</a></p>
            <p class="portfolio-item-role">Product Designer & Developer</p>
            <p class="portfolio-item-launch-date">2020</p>
          </div>

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/bowers-wilkins-formation-flex"><img src="assets/images/portfolio/bowers-wilkins-formation-flex/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/bowers-wilkins-formation-flex">Bowers & Wilkins Formation Flex</a></p>
            <p class="portfolio-item-role">Product Manager</p>
            <p class="portfolio-item-launch-date">2019</p>
          </div>

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/calrec-assist"><img src="assets/images/portfolio/calrec-assist/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/calrec-assist">Calrec Assist UI</a></p>
            <p class="portfolio-item-role">Product Manager & Product Designer</p>
            <p class="portfolio-item-launch-date">2018</p>
          </div>

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/calrec-impulse-core"><img src="assets/images/portfolio/calrec-impulse-core/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/calrec-impulse-core">Calrec ImPulse Core</a></p>
            <p class="portfolio-item-role">Product Manager</p>
            <p class="portfolio-item-launch-date">2018</p>
          </div>

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/calrec-brio"><img src="assets/images/portfolio/calrec-brio/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/calrec-brio">Calrec Brio</a></p>
            <p class="portfolio-item-role">Product Manager & Product Designer</p>
            <p class="portfolio-item-launch-date">2017</p>
          </div>

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/equivalence"><img src="assets/images/portfolio/equivalence/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/equivalence">Equivalence</a></p>
            <p class="portfolio-item-role">Product Designer & Developer</p>
            <p class="portfolio-item-launch-date">2017</p>
          </div>

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/calrec-summa-core"><img src="assets/images/portfolio/calrec-summa-core/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/calrec-summa-core">Calrec Summa Core</a></p>
            <p class="portfolio-item-role">Product Manager</p>
            <p class="portfolio-item-launch-date">2014</p>
          </div>

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/calrec-soccer-assist"><img src="assets/images/portfolio/calrec-soccer-assist/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/calrec-soccer-assist">Calrec Soccer Assist</a></p>
            <p class="portfolio-item-role">Product Manager, Product Designer, Algorithm Designer, Developer</p>
            <p class="portfolio-item-launch-date">2014</p>
          </div>

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/calrec-fader-assist"><img src="assets/images/portfolio/calrec-fader-assist/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/calrec-fader-assist">Calrec Fader Assist</a></p>
            <p class="portfolio-item-role">Product Manager, Product Designer, Developer</p>
            <p class="portfolio-item-launch-date">2014</p>
          </div>

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/fludd"><img src="assets/images/portfolio/fludd/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/fludd">Fludd</a></p>
            <p class="portfolio-item-role">Product Designer, Developer</p>
            <p class="portfolio-item-launch-date">2014</p>
          </div>

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/calrec-summa"><img src="assets/images/portfolio/calrec-summa/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/calrec-summa">Calrec Summa</a></p>
            <p class="portfolio-item-role">Product Manager & Product Designer</p>
            <p class="portfolio-item-launch-date">2013</p>
          </div>

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/calrec-artemis"><img src="assets/images/portfolio/calrec-artemis/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/calrec-artemis">Calrec Artemis</a></p>
            <p class="portfolio-item-role">Product Manager & Product Designer</p>
            <p class="portfolio-item-launch-date">2009</p>
          </div>

          <div class="portfolio-item">
            <a class="portfolio-item-image" href="/calrec-apollo"><img src="assets/images/portfolio/calrec-apollo/hero.jpg" /></a>
            <p class="portfolio-item-title"><a href="/calrec-apollo">Calrec Apollo</a></p>
            <p class="portfolio-item-role">Product Manager & Product Designer</p>
            <p class="portfolio-item-launch-date">2009</p>
          </div>
        </div>

        {{ content }}

      </div>

    </main>

    {%- include footer.html -%}

  </body>

</html>
