---
layout: default
---

{%- if site.posts.size > 0 -%}
  <div class="recent-posts">
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class=post-list-post>
        <a href="{{ post.url | relative_url }}">
          <p class="post-list-post-title">{{ post.title | escape }}</p>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <p class="post-list-post-meta">{{ post.date | date: date_format }}</p>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}
